*{ 
  padding: 0px; 
  margin: 0px; 
} 

#utama { 
background-image: url("y.jpg"); 
background-size: cover; 
height: 680px; 
} 

.header_isi { 
  width: 335px; 
  height: 230px; 
  padding: 180px 0px 90px 480px; 
} 

.gambar { 
  background-color: rgba(255, 251, 252, 0.6); 
  height: 330px; 
  border: 2px solid rgb(243, 237, 238); 
} 

.img { 
  width: 250px; 
  height: 100px; 
  margin-left: 45px; 
  margin-top: 15px; 
} 

.login_regis { 
  height: 40px; 
  width: 260px; 
  text-align: center; 
  color: white; 
  font-size: 17px; 
  border-radius: 8px; 
  background-color: rgba(225, 255, 255, 0.4); 
  border: 3px solid rgb(19, 19, 19); 
  margin-left: 42px; 
  margin-top: 10px; 
} 

.tombol_login { 
  width: 260px; 
  height: 30px; 
  text-align: center; 
  background-color: rgb(13, 13, 14); 
  color: white; 
  font-size: 17px; 
  border: 2px solid #0288D1; 
  border-radius: 8px; 
  margin-top: 20px; 
  margin-left: 42px; 
} 

.chexbox { 
  font-size: 15px; 
  color: rgb(247, 0, 214); 
  margin-left: 45px; 
  margin-top: 10px; 
} 

.login_regis:hover { 
  border: 3px solid #fff; 
} 

.tombol_login:hover { 
  background-color: white; 
  color: #0288D1; 
  border: 2px solid white; 
} 
